<div class="container-fluid h-100 w-100">
  <div class="row h-100 w-100">
    <div class="col-12 h-100 w-100">
      <div class="toolbar" role="banner">
        <img width="40" alt="Angular Logo"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
        <span>E-Auction</span>
      </div>
      <div class="content" role="main">
        <div class="row h-100 w-100">
          <div class="col-12 h-100 w-100">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">Fetch Details</h1>
              </div>
            </div>
            <div class="content">
              <div class="container">
                <form class="example-form">
                
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Choose one</mat-label>
                    <mat-select [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                      <mat-option *ngFor="let food of productMenu" [value]="food.productID">
                        {{food.productName}}
                      </mat-option>
                    </mat-select>
                    <mat-hint>Errors appear instantly!</mat-hint>
                    <mat-error *ngIf="emailFormControl.hasError('required')">You must make a selection</mat-error>
                  
                  </mat-form-field>
                </form>
                <button (click)="productSearch(emailFormControl)" mat-raised-button color="primary">Get</button>
              </div>
            </div>
            <div *ngIf="productDetail" class="content">
              <div class="container">
                <mat-card class="example-card">
                  <mat-card-header>
                    <mat-card-title>Product Details</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                   <div class="row">
                     <div class="col-6">
                      <button mat-stroked-button disabled>Product Name</button>
                     </div>
                     <div class="col-6">
                      <span>
                        {{productDetail.productName}}
                      </span>
                    </div>
                   </div>
                   <div class="row">
                    <div class="col-6">
                     <button mat-stroked-button disabled>Short Description</button>
                    </div>
                    <div class="col-6">
                     <span>
                      {{productDetail.shortDescription}}
                     </span>
                   </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                     <button mat-stroked-button disabled>Detailed Description</button>
                    </div>
                    <div class="col-6">
                     <span>
                      {{productDetail.detailedDescription}}
                     </span>
                   </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                     <button mat-stroked-button disabled>Category</button>
                    </div>
                    <div class="col-6">
                     <span>
                      {{productDetail.category}}
                     </span>
                   </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                     <button mat-stroked-button disabled>Starting Price</button>
                    </div>
                    <div class="col-6">
                     <span>
                      {{productDetail.startingPrice}}
                     </span>
                   </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                     <button mat-stroked-button disabled>Bid End Date</button>
                    </div>
                    <div class="col-6">
                     <span>
                      {{productDetail.bidEndDate}}
                     </span>
                   </div>
                  </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-raised-button (click)="onSubmit(productDetail.productID)" >Show Bids</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
            <div class="content">
              <div class="container">
                <table *ngIf="arrayList.length>0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.bidAmount}} </td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                  </ng-container>
                  <ng-container matColumnDef="mobile">
                    <th mat-header-cell *matHeaderCellDef> Mobile </th>
                    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>